.card-img-top{
    width: 18rem;
    }
    .Shipping{
        background-color: black;
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        font-size: 0.8rem;
        padding: 2px;
        font-size: 6.5px;
    }
    .star{
        background-color: lightgray;
        padding: 5px;
        margin: 3px;
        color:black;
    }
.cash{
    text-align: center;

}
.cart{
    text-align: center;
    background-color: black;
}



 h1{ 
    background-color: grey;
    height: 10vh;
    text-align: right;
    font-weight: bold;
    color: white;
    border: 1px blue solid;
    padding-top: 3vh;
}
.ra{
    text-align: center;
}





.navbar-home{
    background-color: #a94442;
    border-color: none;
    border-radius: 0px;
    border: none;
    margin-bottom: 0%;
}

.navbar-home .navbar-nav>li>a {
    color: #f5f5f5;
}
.navbar-home .navbar-brand {
    color: #f5f5f5;
    font-weight: bold;
}
.carousel-content{
    height:500px;
    ;
}
.about-pizza{
    margin-top: 3rem;
    margin: bottom 2rem; ;
}
.pizza-types{
    margin: top 3rem;
    margin-bottom: 3rem ;
}
.footer{
    background-color: #a94442;
    padding:1.5rem 0;
    color: white;
}
